<div class="layout-box">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Cryptocurrency portfolio API - Amos Isaila</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <nav mat-tab-nav-bar class="tagGroup">
        <a mat-tab-link *ngFor="let tabItem of tabs" [routerLink]="tabItem.route" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            <span>{{tabItem.label}}</span>
        </a>
    </nav>

    <router-outlet></router-outlet>
</div>